@use '../abstracts/variables'as var;

@mixin styled-button-a($color: var.$own-colors-blue) {
  text-decoration: none;
  font-family: var.$font-family;
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  color: $color !important;
  position: relative;
  transition: width 0.3s ease;

  &:hover {
    opacity: 50%;

    &::after {
      width: 100%; // При наведении линия расширяется до 100% ширины
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color;
    transition: width 0.3s ease;
  }
}

@mixin heading-large {
  font-family: var.$font-family;
  font-weight: 500;
  font-size: 64px;
  line-height: 90%;
  letter-spacing: -0.07em;
  color: #0090b8;
  margin-bottom: 12px;
}

// Миксин для текста абзацев
@mixin text-standard($color: var.$own-colors-blue) {
  font-family: var.$font-family;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: -0.07em;
  margin-bottom: 12px;
  color: $color !important;
}

@mixin text-mini {
  font-family: var.$font-family;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.07em;
  color: rgba(0, 144, 184, 0.8);
}

@mixin heading-4-style($color: var.$own-colors-white) {
  font-family: var.$font-family;
  font-weight: 500;
  font-size: 24px;
  line-height: 115%;
  text-transform: uppercase;
  color: $color;
}

