// Основные цвета
$own-colors-blue: #009dc9;
$own-colors-light-blue-background: #ebfbff;
$own-colors-white: #fff;
$own-colors-input-field: #1bb3dd;

// Текстовые цвета
$text-colors-blue: #009dc9;
$text-colors-white: #fff;
$text-colors-light-blue: rgba(0, 157, 201, 0.8);
$font-family: "Inter", sans-serif;
$second-family: "Roboto", sans-serif;